<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Listing Campaigns</h1>

<% if @campaigns.empty? %>
  <p>There are no campaigns present in the application. You can import them <%= link_to "here", root_path %>.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th style="padding-right: 25px">ID</th>
        <th style="padding-right: 25px">Number of Banners</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= campaign.id %></td>
          <td><%= campaign.banners.size %></td>
          <td><%= link_to 'Show', campaign %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h4><%= link_to 'Go Back', root_path %></h4>
